*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: black;

}
h1 { 
    text-decoration: solid;
    color: white;
    letter-spacing: normal;
}
p {
    color: white;
    
}
span {
    color: red;
    font-size: 160px;
    letter-spacing: normal;
}
div.text--wrapper {
    width: 40%;
    height: 100vh;
    font-family: Dosis;
    font-size: 80px;
    text-align: center;
    word-wrap: normal;
    margin-left: 7%;
   padding-top: 300px; 
}
div.background--wrapper {
    background-image: url(images/victoria.jpg);
    background-position: center;
    background-size:contain;
    width: 60%;
    float: right;
    height: 100vh;
    border-top: 0px;
    background-repeat: no-repeat;
}
div.main--wrapper{
    display: flex;
}