*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: black;

}
h1 { 
    text-decoration: solid;
    color: white;
}
p {
    color: white;
}
span {
    color: red;
    letter-spacing: normal;
}
.text-wrapper {
    width: 40%;
    height: 100vh;
    font-family: Dosis;
    font-size: 75px;
    margin-left: 7%;
   margin-top: 100px;
   margin-right: 100px;
}
.image-wrapper {
    background-position: center;
    background-size: auto;
    width: 60%;
    margin-top: px;
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-right: 20px;
}
.main--wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
}
img{
    height: 40%;
}